<div class="d-flex flex-column align-items-stretch">
    <button class="btn btn-primary mt-2" type="button" onclick="clustering_new_row()">新行</button>
    <button class="btn btn-danger mt-2" type="button" onclick="clustering_submit()">保存</button>
    <span id="clustering-last-submit-time" class="text-success"></span>
    <div class="spinner-border text-primary" role="status" id="loading-spinner" aria-hidden="true">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div id="data-container" class="d-flex flex-column-reverse">
    {% for row in data %}
    {% set this_id = row[0].clsid %}
    <div class="card m-3 shadow" id="data-card-{{ this_id }}">
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Item" onkeydown="on_clustering_input_keydown(event, '{{ this_id }}')">
                <button class="btn btn-outline-primary" type="button" onclick="on_clustering_new_col('{{ this_id }}')">
                    添加
                </button>
            </div>
            <div class="d-flex">
                {% for item in row %}
                <div class="p-2 ms-1" aria-label="{{ item.data }}">
                    <span>{{ item.data }}</span>
                    <button type="button" class="btn-close" aria-label="Delete" onclick="clustering_remove_item('{{ item.data }}')"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
